<template>
<div class="container">
    <div class="row">
		<div class="col col-sm-9">
			<h1>Chat</h1>
			<button @click="showMess">showMess</button>
			<button v-if="!socket?.connected && connectedLocal === false" @click="connect">connect</button>
			<button v-if="socket?.connected && connectedLocal === true" @click="disconnect">disconnect</button>
			<span v-if="connectedLocal === null">wait 2s</span>
			<p>
				<a :href="hrefAuth" target="_blank">Авторезироваться через дискорд</a>
			</p>
		</div>
		<div class="col col-sm-3">
			<div class="alert alert-default">
				<div>Online: {{ onlineCount }}</div>
			</div>
		</div>
	</div>
	<hr>
</div>
<section class="main">
    <div class="container main__container">
        <div class="chat">
            <div class="chat__messages">
                <div v-for="(msgData, i) in messages" :key="i" class="chat__messageContainer messageContainer">
                    <template v-if="msgData.type === 'system'">
                        <div class="messageContainer__avatarWrapper">
                            <!-- <img class="messageContainer__avatar" src="systemLogArrow"> -->
                            <div class="systemLogArrow"></div>
                        </div>
                        <div class="messageContainer__userInfo">
                            <span class="messageContainer__username">SYSTEM-LOG</span>
                            <span class="messageContainer__date">{{ msgData.date }}</span>
                        </div>
                        <span class="messageContainer__content">{{ msgData.msg }}</span>
                    </template>
                    <template v-else>
                        <div class="messageContainer__avatarWrapper">
                            <img class="messageContainer__avatar" 
                                :src="getAvatarUrl({hash: msgData.user?.avatar, id: msgData.user?.id})" :alt="msgData.user?.id">
                        </div>
                        <div class="messageContainer__userInfo">
                            <template v-if="msgData.user">
                                <span class="messageContainer__username">{{ msgData.user?.username }}</span>
                                <span class="messageContainer__discriminator">#{{ msgData.user?.discriminator }}</span>
                                <span class="messageContainer__locale">({{ msgData.user?.locale }})</span>
                            </template>
                            <template v-else>
                                <span class="messageContainer__username">Anonymous</span>
                            </template>
                            <span class="messageContainer__date">{{ msgData.date }}</span>
                        </div>
                        <span class="messageContainer__content">{{ msgData.msg }}</span>
                    </template>
                </div>
            </div>
            <div class="chat__keyboard">
                <textarea class="chat__textarea" rows="3" v-model="chatInputText"></textarea>
                <!-- <input autocomplete="off" v-model="chatInputText"> -->
                <button class="chat__send" @click="submit">Send</button>
            </div>
        </div>
    </div>
</section>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'

export default {
	data: () => ({
		chatInputText: ''
		// messages: [], mess.split('\n') -> for -> обернуть тегами
	}),
	computed: {
		...mapGetters(['socket', 'messages', 'onlineCount', 'host', 'clientId', 'connectedLocal', 'oauthData', 'user', 'socketId']),
		// connected() { // не пашет реактивность
		// 	console.log(this.socket?.connected)
		// 	return this.socket?.connected
		// },
		hrefAuth() {
			if (!this.socketId) return null
			const baseUrl = 'https://discord.com/api/oauth2/authorize?'
			const redirectUrl = encodeURIComponent(this.host)
			let url = `client_id=${this.clientId}&redirect_uri=${redirectUrl}&response_type=code&scope=identify&state=${this.socketId}`
			return baseUrl + url
		}
	},
	methods: {
		...mapMutations(['emitMessages']),
		...mapActions({connect: 'loadIo', disconnect: 'discconectIo'}),
		submit(e) {
			e.preventDefault()
			const chatInputText = this.chatInputText
			if (chatInputText) {
				this.emitMessages(chatInputText)
				this.chatInputText = ''
			}
		},
		showMess() {
			console.log(this.oauthData, this.user, this.messages)
		},
		getAvatarUrl({hash, id}) {
			return hash && id ? `https://cdn.discordapp.com/avatars/${id}/${hash}.webp?size=96` : `/user/anonymous.png`
		}
	},
	mounted() {}
}
</script>

<style>
.main {
	height: 100%;
}

.main__container {
	height: 100%;
    position: relative;
}

.chat {
	width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
}

.chat__messages {
	height: 100%;
	overflow: auto;
	word-break: break-word;
	background-color: #f7f7f7;
}

.chat__keyboard {
    bottom: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
	padding: 10px 20px;
}

.chat__textarea {
	flex-grow: 1;
	padding: 4px 8px;
    margin-right: 10px;
}

.chat__send {
	border-radius: 3px;
    padding: 10px 20px;
    background-color: #b6ffd1;
    border: 2px solid #85bc9a;
}
.chat__send:hover {
	background-color: #d9fee7;
    border-color: #99b4a4;
}



.messageContainer {
	position: relative;
	padding-left: 90px;
	padding-right: 10px;
    margin: 10px;
    min-height: 80px;
}

.messageContainer__avatarWrapper {
	position: absolute;
    margin-left: -90px;
}

.messageContainer__avatar {
	width: 80px;
    height: 80px;
    border-radius: 20px;
}

.messageContainer__userInfo {}

.messageContainer__username {
	font-weight: bold;
}

.messageContainer__locale {
	margin-left: 6px;
}

.messageContainer__date {
	font-size: .8em;
	margin-left: 20px;
}

.messageContainer__content {
	word-wrap: break-word;
	white-space: pre-wrap;
    white-space: break-spaces;
}
</style>