<template>
	<div>
		<h1>Products</h1>
		<div class="row">
			<div class="col col-sm-4 mb-3 mt-3"
				v-for="product in products"
				:key="product.id"
			>
				<div class="card">
					<div class="card-body">
						<h3>{{ product.title }}</h3>
						<div>{{ product.price }}</div>
						<router-link :to="`/product/${product.id}`">Read more</router-link>
						<hr>
						<transition 
							enter-active-class="animate__animated animate__fadeInUp" 
							leave-active-class="animate__animated animate__fadeOutDown" 
							mode="out-in"
						>
							<template v-if="!hasOnCart(product.id)">
								<button class="btn btn-success" @click="addToCart(product.id)">add to card</button>
							</template>
							<div v-else>
								<button class="btn btn-danger" @click="removeFromCart(product.id)">remove</button>
								<hr>
								<button 
									class="btn btn-warning" 
									@click="setCnt({ id: product.id, cnt: getCartProductById(product.id).cnt - 1 })"
								>-</button>
								<span class="p-2 fw-bold">{{ getCartProductById(product.id).cnt }}</span>
								<button 
									class="btn btn-success" 
									@click="setCnt({ id: product.id, cnt: getCartProductById(product.id).cnt + 1 })"
								>+</button>
							</div>
						</transition>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
	computed: {
		...mapGetters('products', { products: 'all' }), // либо так mapGetters({ products: 'products/all'})
		...mapGetters('cart', { hasOnCart: 'has', cartProducts: 'productsDetailed' })
	},
	methods: {
		...mapActions('cart', { addToCart: 'add', removeFromCart: 'remove', setCnt: 'setCnt' }),
		getCartProductById(id) {
			return this.cartProducts.find(pr => pr.id == id)
		}
	}
}
</script>

<style scoped>
	.row{
		padding-left: 15px;
	}
</style>