<template>
	<div>
		<router-link :to="{ name: 'catalog' }">Back to products</router-link>
		<h1>{{ product.title }}</h1>
		<hr>
		<div class="alert alert-success">
			Price: {{ product.price }}
			<br>
			Rest: {{ product.rest }}
		</div>
		<hr>
		<button v-if="!hasOnCart(product.id)" class="btn btn-success" @click="addToCart(product.id)">add to card</button>
		<button v-else class="btn btn-danger" @click="removeFromCart(product.id)">remove</button>
	</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
	computed: {
		...mapGetters('products', { getProductById: 'get' }),
		...mapGetters('cart', { hasOnCart: 'has' }),
		id() {
			return this.$route.params.id
		},
		product() {
			return this.getProductById(this.id)
		}
	},
	methods: {
		...mapActions('cart', { addToCart: 'add', removeFromCart: 'remove' })
	}
}
</script>