<template>
<div class="container">
	<div class="row">
		<div class="col col-sm-3 menu">
			redirect
		</div>
    </div>
</div>
</template>

<script>
// import { mapGetters, mapMutations, mapActions } from 'vuex'

export default {
    data: () => ({
		menu: [
			{
				route: 'chat',
				title: 'Chat'
			},
			{
				route: 'redirect',
				title: 'Redirect'
			}
		]
	})
}
</script>

<style>
</style>