<template>
	<div>
		<h1>{{ title }}</h1>
		<hr>
		Start from main page (components)
	</div>
</template>

<script>
export default {
	props: {
		title: {
			type: String,
			default: 'Page not found'
		}
	}
}
</script>