<template>
<header>
<div class="container">
	<div class="row">
		<div class="col col-sm-3 menu">
			<ul class="list-group">
				<router-link
					v-for="item in menu"
					:key="item.route"
					:to="{ name: item.route }"
					v-slot="{ route, isActive, navigate }"
					:custom="true"
				>
					<li class="list-group-item" :class="isActive ? 'active' : ''">
						<a :href="route.fullPath" @click="navigate">{{ item.title }}</a>
					</li>
				</router-link>
			</ul>
		</div>
    </div>
</div>
</header>
<router-view v-slot="{ Component }">
<!-- <router-view v-slot="{ Component, route }"> -->
	<!-- <transition 
		:enter-active-class="route.meta.enterClass" 
		:leave-active-class="route.meta.leaveClass" 
		mode="out-in"
	> -->
		<component :is="Component"></component>
	<!-- </transition> -->
</router-view>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'

export default {
	data: () => ({
		menu: [
			{
				route: 'chat',
				title: 'Chat'
			},
			{
				route: 'redirect',
				title: 'Redirect'
			}
		]
	}),
	computed: {
	},
	methods: {
	},
	mounted() {}
}
</script>

<style>
body {
	color: #313131;
}

#app {
	height: 100vh;
    display: flex;
    flex-direction: column;
}
</style>